@media screen {
  body {
    font-family: roboto;
    background-color: #0b192f;
    color: #fff;
    margin: 0;
  }

  .post-1 {
    background: #9d27b0;
  }

  .post-2 {
    background: #9bb800;
  }

  .post-3 {
    background: #ed5120;
  }

  .post-4 {
    background: #9d27b0;
  }

  .post-5 {
    background: #2d95bb;
  }

  * {
    margin: 0;
    font-weight: 300;
  }

  .grid-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
    grid-template: "header header"
      "post-0 post-0"
      "post news"
      "footer footer";
    grid-gap: 1vw;

  }

  header {
    grid-area: header;
    background-color: #024161;
    padding: 0 2vw;
  }

  .nav-grid {
    display: flex;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1vw;
    height: 5vw;
    width: 5vw;
    font-size: 1vw;
  }

  .nav-items:hover {
    background-color: #1f52a4;
  }

  .nav-items:first-child {
    margin-right: auto;
    font-size: 3vw;
    width: auto;
  }

  .nav-grid span {
    color: red;
  }

  .post_0 {
    grid-area: post-0;
    background: url("../img/post0.jpg") 100% no-repeat;
    background-size: 100%;
    padding: 15% 35vw 5% 3vw;
  }

  .post-titel_0 {
    font-size: 3vw;
    font-weight: 200;
    margin: 0;
  }

  .post-text_0 {
    font-size: 1.1vw;
    line-height: 1.7vw;
  }

  .post {
    grid-area: post;
    display: flex;
    flex-direction: column-reverse;
  }

  .post-items {
    display: flex;
    width: 65vw;
    position: relative;
  }

  .post-items::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(190, 82, 209, 0.3);
    opacity: 0;
  }

  .post-items:hover::after {
    opacity: 1;
  }

  .post-items:nth-child(even) {
    flex-direction: row-reverse;
  }

  .post-img {
    height: auto;
    width: 50%;
  }

  .post-text {
    padding: 1.5vw;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "post-titel post-date"
      "post-text post-text";
  }

  .post-items:nth-child(even) .post-text {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: " post-date post-titel"
      "post-text post-text";
    text-align: right;
  }

  .post-titel {
    grid-area: post-titel;
    font-size: 3vw;
    font-weight: 200;
    padding-top: 1vw;
  }

  .post-data {
    grid-area: post-date;
    font-size: 3.3vw;
    font-weight: 100;
    opacity: 0.5;
    line-height: 3vw;
  }

  .post-data span {
    font-size: 1.7vw;
    display: block;
  }

  .post-text p {
    grid-area: post-text;
    line-height: 1.8vw;
    font-size: 1.2vw;
  }

  .post-5 .post-data {
    text-align: right;
  }

  .news {
    color: #000;
    grid-area: news;
  }

  .news-1,
  .news-2 {
    background-color: #fff;
  }

  .news-img {
    width: 100%;
  }

  .news-titel {
    padding: 2vw;
    font-size: 2vw;
  }

  .news-text {
    padding: 0 2vw 2vw 2vw;
    font-size: 1vw;
    line-height: 1.8vw;
  }

  footer {
    grid-area: footer;
    background-color: #024161;
    display: flex;
    justify-content: space-between;
    padding: 2vw 2vw 1vw 2vw;
    font-size: 1.2vw;
    line-height: 1.8vw;
    color: #689eb9;
  }

  .footer-right span {
    display: block;
  }

}

@media screen and (max-width:768px) {

  .grid-wrapper {
    max-width: 755px;
    margin: 0 auto;
  }

  .nav-grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-items:not(:first-child) {
    display: none;

  }

  .nav-items:first-child {
    margin: 0;
    padding-bottom: 3vw;
    font-size: 4vw;
  }

  .nav-items:first-child span {
    color: #9d27b0;
  }

  .nav-grid::before {
    content: "\002630";
    display: block;
    font-size: 1.5em;
    padding: 2vw 0 4vw 0;
  }

  .post_0 {
    background-size: cover;
    background-position: center;
    padding: 20vw 5vw 5vw 3vw;
  }

  .post-titel_0,
  .post-titel {
    font-size: 6vw;
    text-align: left;
  }

  .post-text_0 {
    font-size: 2vw;
    line-height: 4vw;
  }

  .post-items {
    display: block;
  }

  .post-text {
    padding: 8vw;
  }

  .post-img {
    width: 100%;
  }

  .post-data {
    font-size: 8vw;
    line-height: 8vw;
  }

  .post-data span {
    font-size: 4vw;
  }

  .post-text p {
    font-size: 3vw;
    line-height: 5vw;
    padding-top: 3vw;
    text-align: left;
  }

  .post-items:nth-child(even) .post-text {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "post-titel post-date"
      "post-text post-text";

  }

  .post-5 .post-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "post-titel"
      "post-text"
      " post-date";

  }

  .post-5 .post-data {
    text-align: center;
    padding-top: 4vw;
  }

  .news-titel {
    font-size: 4vw;
    padding: 3vw 3vw 0 3vw;

  }

  .news-text {
    font-size: 3vw;
    padding: 5vw;
    line-height: 4vw;
  }

  footer {
    display: block;
    font-size: 2.5vw;
    line-height: 4vw;
    text-align: center;
    padding: 5vw 0;
  }

}

@media screen and (max-width:480px) {
  .grid-wrapper {
    max-width: 460px;
    margin: 0 auto;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(1, auto);
    grid-template: "header"
      "post-0"
      "post"
      "news"
      "footer";
    grid-gap: 0;

  }

  .nav-items:first-child {
    font-size: 8vw;
    margin: 15vw;
  }

  .nav-items:first-child span {
    color: red;
  }

  .post-titel_0 {
    font-size: 12vw;
    padding: 3vw;
  }

  .post-text_0 {
    font-size: 3.6vw;
    line-height: 6vw;
    padding: 3vw;
  }

  .post-items {
    width: 100%;
  }

  .post-titel,
  .post-data {
    font-size: 10.5vw;
  }

  .post-text p {
    font-size: 3.8vw;
    line-height: 6vw;
  }

  .post-data span {
    font-size: 6vw;
    padding-top: 2vw;
  }

  .news-1 {
    margin-bottom: 3vw;
  }

  .news-titel {
    font-size: 6vw;
  }

  .news-text {
    font-size: 4vw;
    line-height: 5vw;
    padding-top: 2vw;
  }

  footer {
    font-size: 3.5vw;
    padding: 6vw 4vw;
    line-height: 5vw;
    margin-top: 7vw;
  }
}